@import "styles/colors.scss";

.filter-item-tag {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  padding: 6px 5px 5px 10px;
  background-color: $white-grey;
  margin: 3px 0;
}
.filter-item-tag__title--active {
  color: $orange-1;
}
