.container {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.searchContainer, .logo, .utils {
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
}

.logo {
  justify-content: center;
}
.utils {
  justify-content: flex-end;
}

.logoImage {
  height: 20px;
  padding: 0.3px 0.2px 0.4px 0.5px;
}

.cartImage {
  width: 24px;
  height: 24px;
  padding: 2px;
}

.inputSearch {
  height: 35px;
  width: 181px;
  padding: 5px 37px 5px 15px;
  border-radius: 17px;
  border: solid 1px #b7b7b7;
  outline: none;
}

.iconSearch {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 1px 0 0 145px;
  padding: 2px;
  object-fit: contain;
  opacity: 0.6;
  cursor: pointer;
}

.registerBtn {
  width: 59px;
  height: 22px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #4d4d4d;
  background: none;
  border: none;
}

.loginBtn {
  width: 120px;
  height: 35px;
  border-radius: 100px;
  border: solid 1px #ffa15f;
  margin: 0 30px;
}

.loginText {
  width: 46px;
  height: 22px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: bold;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #ff7e24;
}