@import "styles/colors.scss";

.account {
  position: relative;
  display: inline-block;
  margin-right: 30px;
}
.account__avatar {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(61, 61, 63, 0.2);
  border: solid 2px $white;
}
@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
.account__dropdown {
  display: none;
  background-color: $white-five;
  border: solid 0.5px $white-six;
  position: absolute;
  min-width: 180px;
  z-index: 1;
  box-shadow: 0 14px 30px 0 rgba(0, 0, 0, 0.14);
  padding: 7px 13px;
  animation: growDown 300ms ease-in-out forwards;
  transform-origin: top center;
}
.account__action {
  display: block;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: $greyish-brown;
}

.account:hover .account__dropdown {
  display: block;
}
