@import "styles/colors.scss";

.wrapper {
  position: relative;
}

.wrapper__quantity {
  position: absolute;
  width: 20px;
  height: 16px;
  background: $strawberry none repeat scroll 0% 0%;
  border-radius: 16px;
  border: none;
  outline: none;
  color: $white;
  left: 12px;
  top: -5px;
  display: inline-block;
  text-align: center;
  padding: 0px auto;
  font-size: 10px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
}
