@import "styles/colors.scss";

.RaterBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  &__rater {
    margin-bottom: 4px;
  }
  &__divider {
    margin: 0px 10px;
    color: $brown-grey;
  }
  &__review {
    margin-top: 4px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: $dark-grey;
  }
}
