@import "styles/colors.scss";
.status {
  border-radius: 12px;
  padding: 5px 6.5px;
  color: $white;
}
.status--pending {
  background-color: $yellow-1;
}
.status--completed {
  background-color: $pea-green;
}
.status--canceled {
  background-color: $strawberry-2;
}
.status--planning {
  background-color: $greyish-brown;
}
