@import "styles/colors.scss";

.product-item {
  width: 100%;
  height: 345px;
}
.product-item__image {
  width: 100%;
  height: 270px;
  object-fit: cover;
}
.product-item__text {
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
}
.product-item__name {
  margin: 10px 0 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: $dark-grey;
}
.product-item__price {
  font-size: 12px;
  font-weight: normal;
  line-height: 1.83;
  color: $greyish-brown;
}
