@import "styles/colors.scss";

.products-page__sidebar {
  padding-left: 0 !important;
  padding-right: 10px !important;
  * {
    display: flex;
    flex-direction: column;
  }
}
.products-page__lastColumn {
  display: flex;
  justify-content: flex-end;
}
.products-page__content {
  padding-left: 10px !important;
  padding-right: 0 !important;
}
.products-page__content__title {
  margin-bottom: 14px !important;
}
.products-page__content .container-fluid {
  padding: 0 !important;
}
.products-page__content .row {
  margin: 0 -10px;
}
.products-page__sortBy {
  padding: 0 10px !important;
  width: 70%;
}
.products-page__pagination {
  padding: 0 10px !important;
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
