@import "styles/colors.scss";

.ProductsPage {
  &__sidebar {
    padding-left: 0 !important;
    padding-right: 10px !important;
    * {
      display: flex;
      flex-direction: column;
    }
  }
  &__lastColumn {
    display: flex;
    justify-content: flex-end;
  }
  &__content {
    padding-left: 10px !important;
    padding-right: 0 !important;
    &__title {
      margin-bottom: 14px !important;
    }
    .container-fluid {
      padding: 0 !important;
    }
    .row {
      margin: 0 -10px;
    }
  }
  &__col5 {
    width: 20%;
    padding: 0 10px !important;
  }
  &__sortBy {
    padding: 0 10px !important;
    width: 30%;
  }
  &__pagination {
    padding: 0 10px !important;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
