@import "styles/colors.scss";

.ProductsPage {
  &__tag {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: $dark-grey;
  }
  &__sidebar {
    padding: 0 !important;
    * {
      display: flex;
      flex-direction: column;
    }
  }
}
