@import "styles/colors.scss";

.auth-buttons {
  display: flex;
}
.auth-buttons__text {
  font-size: 14px;
  font-stretch: normal;
  line-height: 1.57;
  letter-spacing: normal;
}

.auth-buttons__registerBtn {
  width: 59px;
  font-weight: normal;
  font-style: normal;
  color: $greyish-brown;
  background: none;
  border: none;
}

.auth-buttons__loginBtn {
  width: 120px;
  height: 35px;
  border-radius: 100px;
  border: solid 1px $orange-1;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $white;
}
.auth-buttons__loginBtn__text {
  width: 46px;
  font-weight: bold;
  font-style: bold;
  text-align: center;
  color: $orange-2;
}
