.seller-products-topbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.add-product-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.add-product-button__container {
  margin-right: 20px;
}
